@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ecececd4;
  font-family: "Open Sans", sans-serif;
}

p {
  line-height: 24px;
}

h1,
h2,
h3,
.header-text,
.header-text {
  font-family: "Patua One", cursive;
  letter-spacing: 1px;
}

.nav-div {
  width: 90%;
}

.nav-ul {
  background-color: #6d72e5;
  border-radius: 50px;
  border-bottom-width: 0px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
}

.nav-link.active {
  background-color: #ffffff;
  border-radius: 50px !important;
  color: #6d72e5 !important;
  border: none !important;
}

.nav-link:hover {
  color: #ffffff;
  border: none;
}

.nav-item {
  font-size: 1.3em;
}

.main-page {
  width: 90%;
  background-color: #6d72e5;
  border-radius: 20px;
}

.main-page-content {
  position: relative;
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
}

.bg-image-section {
  background-image: url("../img/img_bg_1.png");
  background-size: cover;
  background-repeat: round;
}

.inner-col {
  padding: 30px;
  padding-bottom: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 30px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 80px 0;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: grey;
}

.badge {
  background-color: #6d72e5;
  font-size: 0.8em;
  padding: 10px;
  margin: 3px;
}

.content-heading {
  color: #2c2c2c;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0px;
  text-shadow: 2px 3px rgb(235, 198, 198);
}

.resume-head {
  font-size: 1.4rem;
}

.header-col {
  padding: 20px;
}

.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0;
}

.icon-list-div {
  margin: auto;
  padding-top: 7em;
  width: 240px;
}

.ownership {
  padding-top: 5em;
  margin-bottom: 32px;
  font-size: 0.8em;
  text-align: center;
}

.header-text {
  font-size: 35px;
  font-weight: bolder;
}

img {
  width: 100%;
  padding: 30px;
}

.header-subtext {
  padding: 10px 0;
  font-weight: 800;
}

.heading-text {
  color: whitesmoke;
  font-weight: bold;
  position: absolute;
  margin: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.blog-image,
.work-image {
  padding: 0%;
  width: 70%;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.exp-hr {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 161vh;
  width: 3px;
  display: flex;
  position: absolute;
  left: 50%;
  border-color: rgb(71, 90, 197);
  margin-top: 44px;
}

.icon-exp {
  position: absolute;
  left: 48.6%;
  font-size: 30px;
  color: rgb(71, 90, 197);
}

.subtext {
  font-size: 13px;
  letter-spacing: 0.1px;
}

.exp-text {
  font-size: 15px;
  line-height: 20px;
}

.fa-chalkboard-teacher,
.fa-calendar-alt,
.fa-coffee,
.fa-map-marked-alt,
.fa-envelope,
.fa-phone-alt {
  font-size: 40px;
}

.fact-text {
  margin: 10px 0;
}

.fact-count {
  font-weight: bold;
}

.comm-logo {
  width: 80%;
  min-width: 200px;
}

.float-lg-left {
  text-align: end;
  width: 45%;
  margin-right: 45%;
}

.float-lg-right {
  text-align: start;
  width: 45%;
  margin-left: 45%;
}

@media only screen and (max-width: 1023px) {
  .header-div {
    position: relative;
  }
  .profile-img {
    width: auto;
    padding: 0px;
  }
  .ownership {
    padding-top: 5em;
    margin-bottom: 5px;
  }
  .icon-list-div {
    position: absolute;
    margin: 0px;
    top: 85%;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
    padding: 1% 0;
    width: 230px;
  }

  .main-page-content {
    position: relative;
    width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
  }
  .main-page {
    height: 500px;
  }
  .bg-image-section {
    min-height: 200px;
  }
  .heading-text {
    color: whitesmoke;
    font-weight: bold;
    position: absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .work-image {
    width: 50%;
    position: relative;
    left: 40%;
  }
  #nav-blog {
    min-height: 370px;
  }
}

@media only screen and (max-width: 1023px) {
  .nav-ul {
    padding-left: 5%;
    padding-right: 5%;
  }
  .nav-div,
  .main-page {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 830px) {
  .nav-item {
    margin: 0 auto;
  }
}

/* Social Media Icons */
.fab {
  float: left;
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
  color: white;
}
